// Manager Colors
$ev-color-gray-dark: #3D3D3D;
$ev-color-dark: #252525;
$ev-color-white: #FFFF;
$ev-color-dark-secondary: #474747;
$ev-color-green: #006532;
$ev-color-gray-primary: #888888;
$ev-color-active-gray: #47474757;

// Manager Margins Padding
$ev-margin-10: 10px;
$ev-margin-12: 12px;
$ev-margin-16: 16px;
