@import '../../abstracts/variables';

.custom-button {
  background-color: $ev-color-dark-secondary;
  color: $ev-color-white;
  border: none;
  padding: $ev-margin-12 $ev-margin-24;
  border-radius: 6px;
  cursor: pointer;
  font-size: $ev-font-size-px-16;
  transition: background-color 0.3s;
  width: 100%;
}
